.schedularbar-parent {

}

.schedulebar-game {
    border-bottom: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.schedulebar-game:hover {
    background: silver;
    cursor: pointer;
    transition: 0.5s;
}

.schedulebar-game:nth-child(1) {
    border-top: 1px solid black;
}

.schedulebar-team-logo {
    height: 100%;
    padding: 5px;
}

.schedulebar-date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}