.leaguebar-parent {

}

.leaguebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid blue;
}

.leaguebar:hover {
    background: silver;
    cursor: pointer;
    transition: 0.5s;
}

.leaguebar-league-logo {
    height: 100%;
}