.leaguebar-parent {

}

.leaguebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid blue;
}

.leaguebar-league-logo {
    height: 100%;
}